<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to peers.rom@gmail.com so we can send you a copy immediately.
 *
 * @category Savchenko
 * @package Savchenko_Donation
 * @copyright Copyright (c) Vladimir Savchenko
 * @license  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Savchenko_Donation::donation" title="Donation" translate="title" module="Savchenko_Donation" sortOrder="20" resource="Savchenko_Donation::donation"/>
        <add id="Savchenko_Donation::donation_manage" title="Donation" translate="title" module="Savchenko_Donation" sortOrder="10" parent="Savchenko_Donation::donation" action="savchenko_donation/donation/edit/id/1" resource="Savchenko_Donation::donation"/>
    </menu>
</config>
